%section.section--center.mdl-grid.mdl-grid--no-spacing.mdl-shadow--2dp
  .mdl-card.mdl-cell.mdl-cell--12-col
    .mdl-card__supporting-text.mdl-grid.mdl-grid--no-spacing
      - @brand_list.group_by { |brand| brand[:host] }.each do |host, brands|
        %h4.mdl-cell.mdl-cell--12-col
          = "#{t('.brand_list')} (#{host})"
        - brands.each do |brand_link|
          = link_to brand_models_path(brand_id: brand_link[:name]), class: 'brand-link', data: brand_link.merge(type: 'brand-link') do
            .section__circle-container.mdl-cell.mdl-cell--2-col.mdl-cell--1-col-phone
              .section__circle-container__circle.mdl-color--primary
            .section__text
              = brand_link[:name]
    .mdl-card__actions
      %a.mdl-button{href: '#'} Read our features
  = render 'shared/top_submenu'
